/* AppComponent's private CSS styles */
h1 {
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

nav a {
  padding: 1rem;
  text-decoration: none;
  margin-top: 10px;
  display: block;
  background-color: #336699;
  color: #eee;
  border-radius: 25px;
  width: 150px;
  text-align: center;
  text-transform: uppercase;
}

nav a:hover {
  color: white;
  background-color: #42545C;
}

nav a:active {
  background-color: black;
}

.navPrincipal {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}